/connect.log
/connect.log.orig
/log_importacao
/titulos.bak
/titulos.exe
/Titulos.pbc
/Titulos.pbc.orig
/titulos.pbd
/titulos.pbl
/titulos.pbl.orig
/titulos.pbt
/Titulos.pbw
/titulos.usr.opt
/titulos_mig.log
/d_contas_pagar.srd.orig
/titulos_master.pbc
/titulos_master.pbw
